html {
    background: url(../bootstrap/img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    background-color: black;
}

.navbar {
    background-color: black;
    background-image: none;
    padding-left: 20px;
    opacity: 0.85;
}

.nav a {
    font-size: 16px;
}

.nav a:hover {
    border-bottom-style: solid;
    border-color: orange;
    border-width: -2px;
    margin: -2px;
}

.navbar p {
    padding-top: 10px;
    padding-right: 10px;
}

#middle h1 {
    z-index: 100;
    line-height: 40px;
    position: absolute;
    color: white;
    font-size: 60px;
    font-weight: bold;
    left: 50%;
    top: 10%;
    text-shadow: black 0 1px 2px;
}

#middle p {
    z-index: 100;
    position: absolute;
    line-height: 30px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    left: 50%;
    top: 20%;
    text-shadow: black 0 1px 2px;
}

#google-play {
    position: absolute;
    left: 50%;
    top: 29%;
}

#middle h5 {
    z-index: 101;
    position: absolute;
    line-hegith: 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    left: 50%;
    top: 23%;
    text-shadow: black 0 1px 2px;
}
#middle h6 {
    z-index: 100;
    position: absolute;
    line-height: 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    left: 50%;
    top: 35%;
    text-shadow: black 0 1px 2px;
}

#logo {
    position: absolute;
    left: 23%;
    top: 8%;
    width: 300px;
    display: block;
}
