<!DOCTYPE html>
<html>
  <head>
    <link href="/static/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>
  <body>
    <div id="nickname">
      <p>Please type in your nickname and room and press enter.</p>
      <input id="nick">
      <input id="room">
      <button onclick="submit()">Submit</button>
    </div>
    <div id="audio">
      <audio id="audioplayer" controls>
	<source id="audiosource" src="http://stuy.enschool.org/music/2_Brandenburg_Concerto_2.mp3" type="audio/mpeg">
      </audio>
      <button onclick="toggle()">Play/Pause</button>
      <button onclick="skipTen()">Skip 10 sec</button>
      <button onclick="resetTime()">Reset</button>
      <p id="userID">User: </p>
      <p id="roomID">Room: </p>
      <a href="/upload.html">Upload</a>
      <button id="music" onclick="playmysong()">Music</button>
    </div>
  </body>
</html>
