<!DOCTYPE html>
<html>
  <head>
    <link href="/static/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>
  <body>
    <div id="nickname">
      <form id="set-nickname" class="wrap">
	<p>Please type in your nickname and room and press enter.</p>
        <input id="nick">
	<input id="room">
	<button type="submit">Submit</button>
      </form>
    </div>
    <div id="audio">
      <audio id="audioplayer" controls>
	<source src="http://stuy.enschool.org/music/2_Brandenburg_Concerto_2.mp3" type="audio/mpeg">
      </audio>
      <button onclick="toggle()">Play/Pause</button>
      <button onclick="skipTen()">Skip 10 sec</button>
      <button onclick="resetTime()">Reset</button>
      <p id="userID">User: </p>
      <p id="roomID">Room: </p>
    </div>
  </body>
</html>
