<html>
<body>
<a href="/static/mysong.mp3">Play Sound</a>
<p id="time">Current Time: </p>
<br>
<p>YAHOO.MediaPlayer.stop()
YAHOO.MediaPlayer.pause()
YAHOO.MediaPlayer.play()
YAHOO.MediaPlayer.getVolume()
YAHOO.MediaPlayer.setVolume()
</p>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://mediaplayer.yahoo.com/js"></script>
<script>
  function updateTime(){
var t = YAHOO.MediaPlayer.getTrackPosition();
$('#time').html("Current Time: "+t);
}
setInterval(updateTime,100);
  </script>
</body>
</html>
