html {
    background: url(./bootstrap/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    background-color: black;
}

.navbar {
    background-color: black;
    background-image: none;
    padding-left: 20px;
    opacity: 0.85;
}

.nav a {
    font-size: 16px;
}

.nav a:hover {
    border-top-style: solid;
    border-color: orange;
    border-width: -2px;
    margin: -2px;
}

#body-nav .nav a:hover {
    border-style: none;
    margin: 0px;
}

.navbar p {
    padding-top: 10px;
    padding-right: 10px;
}

#body-nav {
    position: absolute;
    padding: 0px;
    top: 20%;
    width: 20%;
}

#middle h1 {
    z-index: 100;
    line-height: 40px;
    position: absolute;
    color: white;
    font-size: 60px;
    font-weight: bold;
    left: 50%;
    top: 10%;
    text-shadow: black 0 1px 2px;
}

#middle p {
    z-index: 100;
    position: absolute;
    line-height: 30px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    left: 50%;
    top: 20%;
    text-shadow: black 0 1px 2px;
}

#google-play {
    position: absolute;
    left: 50%;
    top: 27%;
}

#middle h6 {
    z-index: 100;
    position: absolute;
    line-height: 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    left: 50%;
    top: 33%;
    text-shadow: black 0 1px 2px;
}

#logo {
    position: absolute;
    left: 23%;
    top: 8%;
    width: 300px;
    display: block;
}

#body-container {
    z-index: 100;
    position: absolute;
    background-color: #EBEBEB;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    box-shadow: 3px 3px 2px black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.tab-pane {
    position: absolute;
    left: 20%;
}

#body-container i {
    position: relative;
    left: -10px;
    top: 10px;
}

#body-container #body-nav i {
    left: 4px;
    top: -2px;
}