<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    
    <title>inSync</title>
    <link href="/static/bootstrap/img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/stylesheets/style.css" rel="stylesheet">
    <link href="/static/stylesheets/app_style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/app_script.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <a class="brand" href="#">inSync</a>
      <ul class="nav">
	<li><a href="#About" role="button" data-toggle="modal">About</a></li>
	<li><a href="#Help" role="button" data-toggle="modal">Help</a></li>
	<li><a href="/">Android Version</a></li>
      </ul>
      <div id="user-stuff">
      </div>
    </div>
    <div id="fb-root"></div>
    <div id="fb-postlog">
      <p>Login with Facebook</p>
      <img id="login_button" src="/static/bootstrap/img/facebook.png">
    </div>
    <div class="accordion" id="nickname">
      <div class="accordion-gorup">
	<div class="accordion-heading">
	  <i class="icon-circle-arrow-up icon-white pull-left"></i>
	  <a class="accordion-toggle" data-toggle="collapse" data-parent="nickname" href="#collapseOne">Enter Room</a>	  
	</div>
	<div id="collapseOne" class="accordion-body callapse in">
	  <div class="accordion-inner">
	    <p>Please enter a room name</p>
	    <div class="input-append">
	      <input id="room" type="text"  placeholder="room">
	      <button class="btn btn-large" id="roomButton">Go</button>
	    </div>
	    <p id="rwarning" class="prewarning"></p>
	  </div>
	</div>
      </div>
      <div class="accordion-groop">
	<div class="accordion-heading">
	  <i class="icon-circle-arrow-down icon-white pull-left"></i>
	  <a class="accordion-toggle" data-toggle="collapse" data-parent="nickname" href="#collapseTwo">Enter Room as Admin</a>
	</div>
	<div id="collapseTwo" class="accordion-body collapse">
	  <div class="accordion-inner">
	    <p>Please enter a room name and admin password</p>
	    <div class="input-append">
	      <input id="adroom" type="text" placeholder="room">
	      <input id="pass" type="password" placeholder="password">
	      <button id="adButton" class="btn btn-large">Go</button>
	    </div>
	    <p id="adwarning" class="prewarning"></p>
	  </div>
	</div>
      </div>
       <div class="accordion-group">
	<div class="accordion-heading">
	  <i class="icon-circle-arrow-down icon-white pull-left"></i>
	  <a class="accordion-toggle" data-toggle="collapse" data-parent="nickname" href="#collapseThree">Create Room</a>
	</div>
	<div id="collapseThree" class="accordion-body collapse">
	  <div class="accordion-inner">
	    <p>Please choose a room name and admin password</p>
	    <div class="input-append">
	      <input id="croom" type="text" placeholder="room">
	      <input id="cpass" type="text" placeholder="password">
	      <button id="cButton" class="btn btn-large">Create</button>
	    </div>
	    <p id="cwarning" class="prewarning"></p>
	  </div>
	</div>
       </div>
    </div>
    <div id="audio">
      <div id="audiop">
	<audio id="audioplayer" controls>
	  <source id="audiosource" src="http://stuy.enschool.org/music/24_Adagio_For_Strings.mp3" type="audio/mpeg">
	</audio>
      </div>
      <div id="audiocontrols">
	<button id="toggle" class="btn" id="toggle">Play/Pause</button>
	<button class="btn" id="skipTen">Skip Forward</button>
	<button class="btn" id="resetTime">Reset</button>
      </div>
      <div id="uploadcontrols">
	<a href="#uploader" data-toggle="modal"><button id="upload" class="btn btn-primary">Upload</button></a>
	<a href="#SelectM" data-toggle="modal"><button id="selectMusic" class="btn">Select Music</button></a>
      </div>
      <div id="audioinfo">
	<p id="userID">User: </p>
	<p id="roomID">Room: </p>
      </div>
    </div>
    <div id="About" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">inSync</h3>
      </div>
      <div class="modal-body">
	<p>inSync is an application for music streaming between users. inSync attempts to create a perfect sync across users, including when the admin(s) play/pause or change the current position in the track.</p>
	<p>All rooms are public and can be joined by anyone, but only users with admin passwords will be able to control the music stream in their respective rooms.</p>
	<h4>Developers</h4>
	<ul>
	  <li>Brian Lam - Android (Right)</li>
	  <li>Steven Huang - Android (Under the tree)</li>
	  <li>Raymond Zeng - Web</li>
	  <li>Jason Peng - Web</li>
	</ul>
	<h4>Powered by:</h4>
	<ul>
	  <li><a href="https://github.com/abourget/gevent-socketio">gevent-socketio</a></li>
	  <li><a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a></li>
	  <li><a href="http://malsup.com/jquery/form/">jQuery Form Plugin</a></li>
	  <li><a href="https://developers.facebook.com/">Facebook</a></li>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <div id="uploader" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Upload</h3>
      </div>
      <div class="modal-body">
	<form id="myForm" action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file"><br>
          <input class="btn btn-primary" type="submit" value="Upload File to Server">
	</form>
	<div id="progress" class="progress progress-striped active">
          <div class="bar"></div>
          <div class="percent">0%</div>
	</div>
	<div id="status"></div>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>

    </div>
    <div id="SelectM" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Select Music</h3>
      </div>
      <div class="modal-body">
	<div id="songurl">
	  <form>
	    <input id="url" type="text" placeholder="www.example.com/song.mp3">
	  </form>
	  <p id="urlstatus"></p>
	</div>
	<p class="text-center">--OR--</p>
	<div id="songs">
	  <button id="fetch" class="btn btn-primary">Find Songs on Server</button>
	  <ul></ul>
	</div>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <div id="Help" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">How to Use</h3>
      </div>
      <div class="modal-body">
	<p>Login with Facebook</p>
	
	<h5>Enter Room</h5>
	<ul>
	  <li>Enter existing room name to listen to a stream</li>
	  <ul>
	    <li><strong>Do not interact with the audio-player or you will not be in sync with the rest of the users in the stream</strong></li>
	    <li>Anyone can enter any room as a listener</li>
	  </ul>
	</ul>
  	<h5>Enter Room as Admin</h5>
	<ul>
	  <li>Admins are hosts of the room and the only ones that have access to the controls that affect everyone in the room</li>
	  <ul>
	    <li>Do not press the play/pause button built into the audio-player as that event is not broadcasted to the stream.</li>
	    <li>Instead, use the Play/Pause below the audio-player</li>
	  </ul>
	  <li>The following buttons broadcast respective events to everyone connected to your stream</li>
	  <ul>
	    <li><strong>Play/Pause</strong>: toggles play/pause</li>
	    <li><strong>Skip Forward</strong>: skips 10 seconds ahead</li> 
	    <li><strong>Reset</strong>: resets track to 0:00</li>
	    <li>Using the slider to change the time will change the time for all users</li>
	    <li><strong>Upload</strong></li>
	    <ul>
	      <li> Upload an mp3 file to the server to be selected to be played (see next section)</li>
	    </ul>
	    <li><strong>Select Music</strong></li>
	    <ul>
	      <li>Select mp3 hosted somewhere on the internet by entering a url ending in '.mp3'</li>
	      <li>Or select a song that has been uploaded to the server</li>
	      <li>Default mp3 being played in all rooms before music is selected is <strong>Treasure - Bruno Mars</strong></li>
	    </ul>
	  </ul>
	  <h5>Create a room</h5>
	  <ul>
	    <li>Enter the name of the room you want to create</li>
	    <li>Enter an admin password unless you want anyone to be able to control the stream</li>
	  </ul>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </body>
</html>
