<!DOCTYPE html>
<html>
  <head>
    <title>inSync</title>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/8/e/8efumc5s9g.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="all"/>  
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/otherscript.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <a class="brand" href="/" class="transitit">inSync</a>
      <ul class="nav"> 
	<li><a href="#About">About</a></li>
	<li><a href="#Jobs">Jobs</a></li>
	<li><a href="#Contact">Contact</a></li>
	<li><a href="#Bug">Report a Bug</a></li>
      </ul>
      <p class="pull-right">Copyright 2013 Finger Crisis</p>
    </div>
    <div id="body-container">
      <div id="body-nav">
	<ul class="nav nav-pills nav-stacked">
	  <li><a href="#About" class="well" data-toggle="tab">About<i class="icon-chevron-right pull-right"></i></a></li>
	  <li><a href="#Jobs" class="well" data-toggle="tab">Jobs<i class="icon-chevron-right pull-right"></i></a></li>
	  <li><a href="#Contact" class="well" data-toggle="tab">Contact<i class="icon-chevron-right pull-right"></i></a></li>
	  <li><a href="#Bug" class="well" data-toggle="tab">Report a Bug<i class="icon-chevron-right pull-right"></i></a></li>
	</ul>
      </div>
      <i class="icon-remove pull-right"></i>
      
      <div id="body" class="tab-content">
	<div class="tab-pane active" id="About">
	  <p>Put About here</p>
	</div>
	<div class="tab-pane" id="Jobs">
	  <p>Jobs here</p>
	</div>
	<div class="tab-pane" id="Contact">
	  <p>Contacts here</p>
	</div>
	<div class="tab-pane" id="Bug">
	  <p>Report a bug form here</p>
	</div>
      </div>
    </div>
  </body>
</html>
