<!DOCTYPE html>
<html>
  <head>
    <link href="/static/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>
<body>
  <div id="chat">
    <div id="nickname">
      <form id="set-nickname" class="wrap">
        <p>Please type in your nickname and room and press enter.</p>
        <input id="nick">
	<input id="room">
	<input type="submit" value="go">
        <p id="nickname-err">Nickname already in use</p>
      </form>
    </div>
    <div id="connecting">
      <div class="wrap">Connecting to socket.io server</div>
    </div>
    <div id="messages">
      <div id="nicknames"></div>
      <div id="lines"></div>
    </div>
    <form id="send-message">
      <input id="message">
      <button>Send</button>
    </form>
  </div>
</body>
</html>
